.content {
	position: relative;
	z-index: 2;
}
#canvas-wrapper {
	width: 100%;
	@include position(absolute, null null null null);
}

// слайдер на главной
.slider {
	height: 100%;
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 100%;
		@include display(flex);
		&-item {
			position: relative;
			overflow: hidden;
			@include transition(width 0.4s ease);
			@include display(flex);
			@include justify-content(center);
			@include align-items(center);
			width: 16%;
			&.w-20 {
				width: 20%;
			}
			&.active {
				width: 68%;
				.slider__product-preview { opacity: 0;}
				.slider__product-list-block { opacity: 1;}
				.slider__description {margin-left: 0;}
			}
			&.w-20:not(.active):hover{
				width: 22%;
				cursor: pointer;
			}
			&:not(.active):hover{
				width: 18%;
				cursor: pointer;
			}
			&.align-bottom {
				@include align-items(flex-end);
			}
			&-bg {
				@include position(absolute, 0 0 0 0);
				width: 100%;
				z-index: -2;
			}
		}
		&-video {
			&-player {
				@include position(absolute, 0 0 0 0);
				width: 100vw;
				height:100vh;
				@include transform(scale(1.3));
				z-index: -3;
			}
			&-img {
				@include position(absolute, 0 0 0 0);
				width: 100%;
				height: 100%;
				z-index: -3;
				display: none;
			}
		}
	}
	&__description {
		z-index: 1;
		margin-left: -1030px;
		@include transition(all 0.4s ease-in-out);
		&-title {
			background: url(../img/main-title-bg.png) center 0 no-repeat;
			padding-top: 23px;
			margin-bottom: 68px;
			&-text {
				text-transform: uppercase;
				color: #fff;
				font-family: Arial;
				font-size: 21px;
				position: relative;
				top: -13px;
			}
		}
		&-block {
			position: relative;
		}
		&-text {
			color: #fff;
			font-size: 16px;
			font-family: Arial;
			line-height: 26px;
			margin-bottom: 37px;
			&-block {
				text-align: left;
				width: 620px;
			    margin: 0 auto 0 29%;
			}
		}
	}
	&__product {
		// превью товара в слайдере
		&-preview {
			width: 245px;
			text-align: center;
			position: relative;
			padding: 0 10px 23px 10px;
			@include position(absolute, null 0 50px 0);
			@include transition(all 0.2s ease-in-out);
			margin: 0 auto;
			&.bg-style-1 {background: url(../img/slider-product-bg-1.png) bottom center no-repeat;}
			&.bg-style-2 {background: url(../img/slider-product-bg-2.png) bottom center no-repeat;}
			&-img {
				margin-bottom: 18px;
			}
			&-name {
				font-weight: bold;
				color: #fff;
				text-transform: uppercase;
				font-size: 18px;
				margin: 0 0 13px 0;
			}
			&-description {
				font-family: Arial;
				color: #fff;
				opacity: 0.6;
				padding: 0 10px;
			}
		}
		// список товаров в слайдере
		&-list {
			margin: 64px 0 0px 0;
			padding: 0;
			list-style-type: none;
			text-align: center;
			&-block {
				opacity: 0;
				// @include position(absolute, null 0 0 0);
				margin:  196px auto 0 auto;
				position: relative;
				width: 1170px;
				@include transition(opacity 0.2s ease-in-out);
			}
			&-item {
				position: relative;
				text-align: left;
				display: inline-block;
				vertical-align: top;
				width: 30%;
				margin: 0 5% 30px;
				background: url(../img/product-bg.png) 100% 50% no-repeat;
				@include clearfix;
			}
			&-img {
				position: relative;
				@include transition(all 0.4s ease-in-out);
				&:hover {
					@include filter(contrast(1.15));
				}
			}
			&-img-wrap {
				float: left;
				text-align: center;
				width: 85px;
				position: relative;
				&:before {
					content: '';
					@include position(absolute, -28px 0 0 -36px);
					margin: 0 auto;
					background: url(../img/red-shadow.png) 0 0 no-repeat;
					width: 156px;
					height: 277px;
				}
			}
			&-description {
				&-wrap {
					padding: 38px 15px 0 106px;
				}
				&-name {
					text-transform: uppercase;
					color: #fff;
					font-weight: bold;
					font-size: 18px;
					margin: 0 0 15px 0;
				}
				&-text {
					opacity: 0.9;
					color: #fff;
					font-family: "Arial";
					margin: 0 0 40px 0;
				}
				&-link {
					opacity: 0.9;
					color: #fff;
					text-transform: uppercase;
					@include transition(all 0.4s ease-in-out);
					border-bottom: 1px solid transparent;
					@include position(absolute,  null null 9px 106px);
					z-index: 2;
					&:hover {
						text-decoration: none;
						opacity: 1;
						color: #fff;
						border-bottom: 1px solid;
					}
					&:focus {
						color: #fff;
					}
				}
			}
		}
	}
}
#map {
	width: 100%;
	height: 100%;
	@include position(absolute, 0 0 0 0);
	display: block;
}

.contacts {
	margin-bottom: 70px;
	&__bg-img {
		@include position(absolute, 0 null null 0);
		width: 100%;
	}
	&__title {
		color: #fff;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		display: inline-block;
		margin: 0;
	}
	&__address {
		margin-left: 107px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		&-img {
			display: block;
			margin: 53px 0 22px 0;
		}
		&-name {
			font-size: 18px;
			color: #fff;
			font-weight: bold;
			margin: 0;
		}
		&-note {
			color: #a8adaf;
			margin: 0 0 21px 0;
		}
		&-text {
			color: #616161;
			margin: 0;
			position: relative;
			padding-left: 24px;
			margin-bottom: 10px;
			&:before {
				content: '';
				@include position(absolute, 4px null null 2px);
				width: 14px;
				height: 14px;
			}
			&-phone {
				&:before {
					background: url(../img/phone.png) 0 0 no-repeat;
				}
			}
			&-email {
				&:before {
					background: url(../img/email.png) 0 0 no-repeat;
				}
			}
		}
	}
	&__form {
		width: 360px;
		margin-left: 107px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		&-wrapper {
			margin-top: 80px;
		}
	}
}
.gallery {
	&__block {
		border: 5px solid #000;
		width: 20%;
		overflow: hidden;
		@include transition(all 0.4s ease-in-out);
		&-name {
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 auto;
			text-align: center;
			@include position(absolute, null 0 -40px 0);
			@include transition(all 0.4s ease-in-out);
		}
		&-link {
			position: relative;
			display: block;
			&:before {
				content: '';
				@include position(absolute,  null null 0 null);
				width: 100%;
				height: 100%;
				background: rgba(0,0,0, 0.5);
				@include transition(all 0.4s ease-in-out);
			}
			&:after {
				content: '';
				@include position(absolute, null 0 -30px 0);
				width: 50%;
				height: 30px;
				margin: 0 auto;
				box-shadow: 0 0 54px #fc0000;
				border-radius: 50%;
				opacity: 0;
				@include transition(all 0.4s ease-in-out);
			}
			&:hover {
				&:before { background: rgba(0,0,0, 0);}
				&:after {opacity: 1;}
				.gallery__block-name {
					bottom: 40px;
				}
			}
		}
	}
	// страница 1 галереи
	&__main {
		&-img {
			position: relative;
			z-index: 3;
			&-wrapper {
				position: relative;
				height: 100%;
				padding: 40px;
				overflow: hidden;
				@include display(flex);
				@include justify-content(center);
				@include align-items(center);
				&:before {
					content: '';
					@include position(absolute, 0 0 0 0);
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.5);
					z-index: 2;
				}
				&-bg {
					@include position(absolute, 0 0 0 0);
					width: 100%;
					height: 100%;
					z-index: 1;
					background-size: cover!important;
					@include filter(blur(8px));
				}
			}
		}
	}
	&__thumbs {
		&-section {
			background: #232324;
			height: 100%;
			padding: 20px;
			overflow: auto;
			@include display(flex);
			@include flex-wrap(wrap);
			@include align-items(baseline);
			@include align-content(flex-start);
			@include justify-content(space-around);
		}
		&-wrapper {
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			width: 100px;
			margin: 0 5px 17px 5px;
			overflow: hidden;
			position: relative;
			@include transition(all 0.4s ease-in-out);
			opacity: 0.6;
			display: block;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.catalog {
	padding: 29px 0 0 0;
	&__menu {
		background: #181819;
		width: 320px;
		height: 100%;
		padding: 29px 0 0 0;
		&-title {
			opacity: 0.3;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			margin: 0 0 30px 26px;
		}
		&-btn {
			@extend .main-menu__mob-btn;
		    margin: 5px 23px 0 0;
		}
	}
	&__list {
		margin: 19px 0 0 0;
		padding: 0;
		list-style-type: none;
		&-item {
			&-link {
				@include transition(all 0.2s ease-in-out);
				color: #a8acae;
				display: block;
				padding: 13px 29px;
				&:hover {
					color: #fff;
					text-decoration: none;
					background-color: #212123;
				}
				&.current {
					color: #fff;
					font-weight: bold;
					background-color: #212123;
					border-right: 3px solid $red;
					overflow: hidden;
					position: relative;
					&:before {
						content: '';
						@include position(absolute, null -90px 0 null);
						position: absolute;
						width: 50px;
						height: 30px;
						box-shadow: -49px -6px 53px $red;
						border-radius: 50%;
					}
				}
				&:active,
				&:focus {
					color: #a8acae;
					text-decoration: none;
				}
			}
			&-count {
				margin-left: 10px;
				float: right;
				width: 36px;
				text-align: center;
			}
		}
	}
	&-section {
		background: #fff;
		height: 100%;
		width: calc(100vw - 320px);
		padding-bottom: 44px;
		&__list {
			@include display(flex);
			@include flex-wrap(wrap);
			margin-bottom: 44px;	
		}
		&__item {
			padding: 19px;
			flex-basis: 19.79%;
			border: 1px solid #f2f2f2;
			@include transition(all 0.4s ease-in-out);
			&:hover {
				border: 1px solid $red;
			}
			&-img {
				display: block;
				margin: auto;
				max-height: 277px;
			}
			&-title {
				margin: 14px 0 3px 0;
				font-size: 17px;
				font-weight: bold;
			}
			&-description {
				font-size: 13px;
				color: #868a8b;
				margin: 0 0 7px 0;
			}
			&-price {
				margin: 0 0 14px 0;
				font-size: 18px;
				font-weight: bold;
				color: $red;
			}
			&-footer {
				@include clearfix;
				&-basket {
					text-transform: uppercase;
					border-radius: 3px;
					@include transition(all 0.4s ease-in-out);
					background: #efefef;
					// padding: 15px 31px 15px 55px;
					padding: 15px 21px 15px 45px;
					color: #868a8b;
					float: left;
					position: relative;
					&:hover {
						text-decoration: none;
						color: #fff;
						background: $red;
						&:before {
							background: url(../img/b-btn-hover.png) 0 0 no-repeat;
							left: 15px;
						}
					}
					&:focus,
					&:active {
						background: #efefef;
					}
					&:before {
						content: '';
						@include position(absolute, 16px null null 20px);
						background: url(../img/b-btn.png) 0 0 no-repeat;
						width: 16px;
						height: 16px;
						@include transition(all 0.4s ease-in-out);
					}
				}
				&-link {
					text-transform: uppercase;
					color: #bcbebf;
					float: right;
					margin-top: 17px;
					// margin: 15px 12px 0 0;
					margin: 15px 0 0 0;
					border-bottom: 1px solid transparent;
					@include transition(all 0.4s ease-in-out);
					&:hover {
						color: #939393;
						text-decoration: none;
						border-bottom: 1px solid;
					}
				}
			}
		}
		&__more-btn {
			background: $red;
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
			position: relative;
			border-radius: 3px;
			@include transition(all 0.4s ease-in-out);
			padding: 15px 20px 15px 45px;
			&:focus,
			&:hover {
				color: #fff;
				text-decoration: none;
				background: darken($red, 5%);
				&:before {
					@include transform(rotate(360deg));
				}
			}
			&:before {
				content: '';
				@include position(absolute, 17px null null 20px);
				background: url(../img/spin.png) 0 0 no-repeat;
				width: 14px;
				height: 14px;
				@include transition(all 0.4s ease-in-out);

			}
		}
		&__filter {
			padding: 30px;
			@include clearfix;
			&-price {
				&-range {
					width: 145px;
					margin: 0 20px;
					display: inline-block;
				}
				&-input {
					width: 90px;
					border: none;
					color: $red;
					padding: 7px 24px 7px 7px;
					font-size: 15px;
					border-bottom: 1px solid #e7e7e7;
					@include transition(all 0.4s ease-in-out);
					&:focus {
						border-bottom: 1px solid $red;
					}
				}
				&-block {
					display: inline-block;
					vertical-align: top;
					position: relative;
				}
				&-wrapper {
					display: inline-block;
					position: relative;
				}
				&-currency {
					font-size: 16px;
					color: #c5c5c5;
					@include position(absolute, 4px 6px null null);
				}
			}
			&-select {
				width: 220px;
				&-block {
					margin-right: 7px;
					float: right;
					.ui-selectmenu-text {
						font-size: 15px;
						color: $red;
					}
					.ui-selectmenu-button {
						outline: none;
					}
					.ui-icon-triangle-1-s {
						background: url(../img/tr.png) 0 0 no-repeat;
						width: 11px;
						height: 7px;
					}
					.ui-selectmenu-button span.ui-icon {
						top: 68%;
						@include transition(all 0.4s ease-in-out);
					}
					.ui-selectmenu-button span.ui-selectmenu-text {
						padding: 0.4em 2.1em 0.4em 7px;
					}
				}
			}
			&-label {
				display: block;
				font-size: 12px;
				color: #989898;
				margin-left: 7px;
			}
		}
	}
}
.basket {
	&-block {
		padding: 40px;
		height: 100%;
		&.object-style-1-bg {
			&:before {
				content: '';
				@include position(absolute, null 0 0 0);
				background: url(../img/object.png) 0 0 no-repeat;
				margin: 0 auto;
				width: 396px;
				height: 325px;
			}
			
		}
		&.object-style-2-bg {
			&:before {
				content: '';
				@include position(absolute, null 0 -100px 0);
				background: url(../img/object-2.png) 0 0  no-repeat;
				margin: 0 auto;
				width: 380px;
				height: 312px;
			}
			
		}
		&__step {
			margin: 0;
			font-size: 20px;
			height: 58px;
			line-height: 58px;
			color: #fff;
			padding-left: 18px;
			background: url(../img/rumb.png) left center no-repeat;
			font-weight: bold;
			position: relative;
			&:before {
				content: '';
				@include position(absolute, 37% -65px null null);
				background: url(../img/dotted-line.png) 0 0 no-repeat;
				width: 83px;
				height: 13px;
				z-index: 2;
			}
			&.no-before {
				&:before {
					display: none;
				}
			}
		}
		&__inner {
			padding: 28px 13.6%;
			&-title {
				font-size: 40px;
				color: #fff;
				margin: 0;
				font-weight: bold;
				text-transform: uppercase;
				position: relative;
				&:before {
					content: '';
					@include position(absolute, null 0 -42px null);
					background: url(../img/top-left-triangle.png) 0 0 no-repeat;
					width: 40px;
					height: 40px;
					@include transform(rotate(180deg));
				}
			}
			&-items {
				// margin: 109px 0 40px 0;
				margin: 55px -5px 40px -5px;
				padding: 0 5px;
				// overflow: hidden;
			}
			&-note {
				color: #fff;
				margin: 0;
				font-family: Arial;
				opacity: 0.8;
			}
		}
		&__form {
			height: 100%;
		}
		&__item {
			@include clearfix;
			padding: 14px 0;
			&-delete {
				float: right;
				width: 11px;
				height: 13px;
				display: block;
				position: relative;
				margin: 7px 8px 0 0;
				z-index: 100;
				background: url(../img/delete.png) 0 0 no-repeat;
			}
			&-description {
				margin-left: 120px;
				&-title {
					opacity: 0.7;
					display: block;
					padding-right: 30px;
					margin-bottom: 4px;
					color: #fff;
					font-size: 18px;
					font-weight: bold;
					text-transform: uppercase;
					@include transition(color, 0.4s ease-in-out);
					&:hover {
						color: $red;
						opacity: 1;
						text-decoration: none;
					}
				}
			}
			&-img {
				&-wrapper {
					float: left;
					max-width: 100px;
					display: inline-block;
				}
			}
			&-count {
				position: relative;
				&-input {
					width: 70px;
					height: 40px;
					border-radius: 2px;
					border: none;
					padding: 0 30px 0 18px;
					color: #868a8b;
					font-size: 16px;
					font-weight: bold;
					background: #2d2d2d;
				}
				&-changer {
					@include position(absolute,  null null null null);
					border: none;
					background: none;
					display: inline-block;
					width: 20px;
					height: 10px;
					&:before {
						content: '';
						@include position(absolute, 0 null null 4px);
						width: 12px;
						height: 12px;
					}
					&.up {
						top: 0px;
						left: 42px;
						padding-top: 14px;
						&:before {
							top: auto;
							bottom: 0px;
							@include triangle(12px, #515253, up);
						}
					}
					&.down {
						top: 24px;
						left: 42px;
						padding-top: 14px;
						&:before {
							@include triangle(12px, #515253, down);	
						}
					}
				}
				&-price {
					opacity: 0.4;
					color: #fff;
					display: inline-block;
					vertical-align: top;
					font-size: 18px;
					margin: 6px 0 0 15px;
					&-total {
						font-weight: bold;
						font-size: 20px;
						margin: 6px 0 0 0;
						color: $red;
					}
				}
			}
		}
		&__total {
			padding: 22px 0;
			margin: 11px 0;
			border-top: 1px solid #2f2f2f;
			// border-bottom: 1px solid #2f2f2f;
			&-text {
				opacity: 0.8;
				color: #515151;
				font-size: 16px;
				margin: 0;
			}
			&-price {
				color: $red;
				font-size: 26px;
				margin: 0;
				font-weight: bold;
			}
		}
		&__partner {
			margin-top: 15px;
			&-block {
				&-input {
					padding-right: 15px;
					margin-top: 5px;
					position: relative;
					&:before {
						content: '';
						@include position(absolute, 19px 30px null null);
						background: url(../img/arrow.png) 0 0 no-repeat;
						width: 12px;
						height: 13px;
					}
				}
				&-price {
					padding-left: 15px;
				}
			}
			&-input {
				padding: 0 35px 0 15px;
				height: 50px;
			}
			&-label {
				color: #515152;
				font-size: 16px;
				margin: 0;
			}
			&-price {
				font-weight: bold;
				color: #616161;
				font-size: 26px;
				margin: 0;
			}
			&-text {
				color: #a8adaf;
				margin: 10px 0 0 0;
				line-height: 21px;
				font-family: Arial;
				a {
					color: #616161;
					border-bottom: 1px solid;
					&:hover {
						color: #616161;
						text-decoration: none;
						border-bottom: 1px solid transparent;
					}
				}
			}
		}
	}
}
.product {
	&__block {
		flex-basis: 37%;
		height: auto;
		background: #ddd;
		&:last-child {
			flex-basis: 50%;
		}
		&-bg-white {
			background: #fff;
		}
		&-bg-grey {
			background: #f6f6f6;
		}
		&-img {
			margin-top: 22%;
			&-thumbs {
				text-align: center;
				padding: 0 20px;
				&-link {
					display: inline-block;
					vertical-align: top;
					border: 2px solid transparent;
					border-radius: 3px;
					margin:5px;
					@include transition(all 0.2s ease-in-out);
					&:hover,
					&.active {
						border: 2px solid #f1f1f1;
					}
				}
				&-img {
					max-width: 50px;
					max-height: 50px;
				}
			}
			&-slider {
				padding: 0;
				margin: 0;
				&-item {
					display: block;
				}
			}
			.bx-wrapper {
				margin: 0 auto;
			}
		}

		&-description {
			padding: 52px 59px;
			&-name {
				font-weight: bold;
				font-size: 25px;
				margin: 0 0 5px 0;
			}
			&-article {
				color: #868a8b;
				font-size: 15px;
				margin: 0;
			}
		}
		&-characteristicks {
			border-top: 1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
			padding: 24px 0px 5px 0px;
			margin: 24px 0;
			&-name {
				font-family: Arial;
				color: #868a8b;
				margin: 0 0 20px 0;
			}
			&-value {
				margin: 0 0 20px 0;
				font-family: Arial;
			}
		}
		&-price {
			margin: -7px 0 21px 0px;
			&-value {
				font-size: 55px;
				font-weight: bold;
				color: $red;
				margin: 0 20px 0 0;
				display: inline-block;
				vertical-align: top;
				line-height: normal;
			}
			&-form {
				display: inline-block;
				position: relative;
				vertical-align: top;
				overflow: hidden;
				margin: 13px 0 0 7px;
			}
			&-input {
				border: none;
				height: 50px;
				width: 75px;
				background: #ebebeb;
				color: #868a8b;
				border-radius: 2px;
				font-size: 20px;
				text-align: center;
				padding-right: 20px;
			}
			&-btn {
				border: none;
				background: none;
				@include position(absolute, null null null null);
				&.up {
					top: -9px;
					right: 3px;
					width: 30px;
					height: 0px;
					&:before {
						content: '';
						top: 0;
						@include triangle(14px, #c3c4c5, up);
					}
				}
				&.down {
					top: 33px;
					right: 3px;
					width: 30px;
					height: 0px;
					&:before {
						content: '';
						top: 0;
						@include triangle(14px, #c3c4c5, down);	
					}
				}
			}
			&-submit {
				position: relative;
				font-weight: normal;
				padding: 16px 53px 16px 69px;
				&:after {
					content: '';
					@include position(absolute, 16px null null 40px);
					position: absolute;
					background: url(../img/b-btn-hover.png) 0 0 no-repeat;
					width: 16px;
					height: 16px;
					@include transition(all 0.4s ease-in-out);
				}
				&:hover {
					&:after {
						left: 30px;
					}
				}
			}
			&-diller {
				text-transform: uppercase;
				color: #8e8e8e;
				margin: 16px 20px 0 0;
				float: right;
				display: inline-block;
				border-bottom: 1px solid transparent;
				@include transition(all 0.4s ease-in-out);
				&:hover {
					color: #939393;
					text-decoration: none;
					border-bottom: 1px solid;
				}
				&:focus {
					color: #8e8e8e;
					text-decoration: none;
				}
			}
		}
		&-delivery {
			padding: 0px 0 0 56px;
			margin-top: 37px;
			background: url(../img/delivery.png) left center no-repeat;
			&-title {
				margin: 0;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
			}
			&-text {
				font-family: Arial;
				color: #747475;
				margin: 0;
			}
		}
	}
	&__similar {
		&-title {
			background: #fcfcfc;
			font-size: 26px;
			font-weight: bold;
			margin: 0;
			padding: 37px;
		}
		&-block {
			border-top: 1px solid #efefef;
			padding: 15px 0 20px 20px;
			&-img {
				display: block;
				margin: auto;
				&-wrap {
					margin-top: 5px;
				}
			}
			&-description {}
			&-name {
				font-weight: bold;
				font-size: 17px;
				margin: 0 0 3px 0;
			}
			&-prev {
				color: #868a8b;
				font-size: 13px;
				margin: 0 0 7px 0;
			}
			&-price {
				color: $red;
				font-weight: bold;
				font-size: 18px;
				margin: 0 0 13px 0;
			}
			&-basket {
				text-transform: uppercase;
				border-radius: 3px;
				@include transition(all 0.4s ease-in-out);
				background: #efefef;
				color: #868a8b;
				float: left;
				position: relative;
				padding: 15px 31px 15px 55px;
				&:before {
					content: "";
					@include position(absolute, 16px null null 20px);
					width: 16px;
					height: 16px;
					background: url(../img/b-btn.png) 0px 0px no-repeat;
					@include transition(all 0.4s ease-in-out);
				}
				&:hover {
					text-decoration: none;
					color: #fff;
					background: $red;
					&:before {
						left: 15px;
						background: url(../img/b-btn-hover.png) 0px 0px no-repeat;
					}
				}
			}
			&-link {
				@extend .catalog-section__item-footer-link;
				float: none;
				margin: 16px 22px;
				display: inline-block;
			}
		}
	}
	&__section {
		@include display(flex);
	}
}
.video-block {
	height: 100%;
	position: relative;
	z-index: 10;
	background: #000;
	iframe {
		@include position(absolute, 0 0 0 0);
	}
}
.text-block {
	color: #fff;
	background: url(../img/cart-bg.png) 0 0 no-repeat;
	background-size: cover;
    padding: 93px 86px;
	&__description {
		margin: 53px 0 0 0;
		position: relative;
		& * {
			font-size: 14px;
			font-family: Arial;
			line-height: 26px;
			color: #fff;
		}
	}
	&__img {
		display: block;
		margin: 0 0 5px 0;
	}
	&__title {
		display: inline-block;
		&:before {
			content: '';
			@include position(absolute, null -36px -19px null);
			background: url(../img/top-left-triangle.png) 0 0 no-repeat;
			width: 40px;
			height: 40px;
			@include transform(rotate(180deg));
		}
		&-md {
			display: inline-block;
			font-size: 50px;
			padding-left: 50px;
			&:before {
				content: '';
				@include position(absolute, null -36px -19px null);
				background: url(../img/top-left-triangle.png) 0 0 no-repeat;
				width: 40px;
				height: 40px;
				@include transform(rotate(180deg));
			}
		}
	}
}
.diller {
	&__country {
		position: relative;
		z-index: 2;
		margin-bottom: 50%;
		text-align: center;
		margin-left: 12px;
		&-block {
			color: #fff;
			margin-bottom: 50px;
			text-transform: uppercase;
			width: 243px;
			height: 400px;
			@include display(flex);
			@include flex-wrap(wrap);
			@include align-items(center);
			@include align-content(center);
			background: url(../img/lang-border.png) 0 0 no-repeat;
		}
		&-title {
			margin: 0;
			font-weight: bold;
			font-size: 66px;
			flex-basis: 100%;
		}
		&-name {
			font-weight: bold;
			flex-basis: 100%;
			margin: 0;
			font-size: 18px;
		}
	}
	&__counter {
		&-block {
			width: 151px;
			height: 101px;
			color: #fff;
			margin: 0 auto 30px auto;
			text-transform: uppercase;
			background: url(../img/border.png) 0 0 no-repeat;
			&-val {
				margin: 0;
				font-size: 50px;
				font-weight: bold;
				position: relative;
				top: 13px;
			}
			&-text {
				margin: 0;
				font-size: 12px;
				position: relative;
				top: 20px;
				font-weight: bold;
			}
		}
	}
	&-search {
		width: 560px;
		height: 100%;
		background: #232324;
		margin-left: 57px;
		&-header {
			background: #c71313;
			padding: 36px 40px 40px 40px;
			position: relative;
			&__label {
				display: block;
				color: #f76c6c;
				font-size: 12px;
				margin: 0 0 -7px 20px;
				text-transform: uppercase;
			}
			&__input {
				border: none;
				background: none;
				border-bottom: 1px solid #e44848;
				padding: 20px 50px 20px 20px;
				color: #fff;
				width: 100%;
				font-size: 16px;
				@include transition(all 0.2s ease-in-out);
				&:focus {
					border-bottom: 1px solid #fff;
				}
			}
			&__submit {
				display: block;
				border: none;
				background: none;
				width: 16px;
				height: 16px;
				@include position(absolute, 70px 63px null null);
				background: url(../img/magnifier.png) 0 0 no-repeat;
			}
		}
		&-body {
			padding: 40px;
			&-wrap {
				max-height: 600px;
			}
		}
	}
	&__block {
		@include clearfix;
		margin-bottom: 40px;
		&-img {
			float: left;
			border-radius: 50%;
			width: 90px;
			height: 90px;
		}
		&-description {
			margin-left: 112px;
			&-name {
				color: #fff;
				text-transform: uppercase;
				margin: 0;
				font-weight: bold;
				font-size: 16px;
			}
			&-address {
				margin: 0;
				color: #a8adaf;
				display: inline;
				&-link {
					color: #616161;
					border-bottom: 1px dashed;
					margin-left: 7px;
					&:hover,
					&:focus {
						text-decoration: none;
						color: #616161;
						border-bottom: 1px solid transparent;
					}
				}
			}
			&-phone {
				position: relative;
				margin-left: 20px;
				color: #616161;
				&:hover,
				&:focus {
					color: #616161;
					text-decoration: none;
				}
				&:before {
					content: '';
					@include position(absolute, 0 null null -20px);
					background: url(../img/phone.png) 0 0 no-repeat;
					width: 14px;
					height: 14px;
				}
			}
			&-link {
				position: relative;
				margin-left: 22px;
				color: #616161;
				border-bottom: 1px dashed;
				&:hover,
				&:focus {
					text-decoration: none;
					color: #616161;
					border-bottom: 1px solid transparent;
				}
				&:before {
					content: '';
					@include position(absolute, 0 null null -20px);
					background: url(../img/link.png) 0 0 no-repeat;
					width: 14px;
					height: 14px;
				}
			}
		}
	}
}
.modal {
	display: none;
	&__title {
		font-size: 25px;
		margin: 0 0 17px 0;
		font-weight: bold;
	}
	&__form-wrap {
		position: relative;
	}
	&__label {
		display: block;
		color: #868a8b;
		margin: 0 0 5px 0;
	}
	&__input {
		border: none;
		border-radius: 3px; 
		background: #ebebeb;
		width: 100%;
		padding: 14px 45px 14px 22px;
		font-size: 16px;
		color: #868a8b;
	}
	&__submit {
		@include position(absolute, 0 0 null null);
		width: 53px;
	    height: 50px;
	    padding: 7px;
	    background: url(../img/modal-submit.png) center center no-repeat;
	    border: none;
	}
}
#enter {
	background: #fff;
	width: 480px;
	padding: 33px 38px 40px 38px;
}
#diller_map {
	width: 650px;
	height: 650px;
	border: 2px solid $red;
	border-radius: 4px;
}
.thumb {
	&__section {
		@include display(flex);
		@include flex-wrap(wrap);
	}
	&__block {
		flex-basis: 12.5%;
		opacity: 0.8;
		@include transition(all 0.2s ease-in-out);
		&:hover {
			opacity: 1;
		}
	}
	&__link {
		display: block;
		position: relative;
		&.video {
			&:before {
				content: '';
				@include position(absolute, 0 0 0 0);
				width: 100%;
				height: 100%;
				background: url(../img/play.png) center center no-repeat;
			}
		}
	}
	&__img {
		width: 100%;
	}
}
.attention {
	&__block {
		flex-basis: 100%;
		background: #c71313 url(../img/attention.png) -50px -50px no-repeat;
		padding: 25px 25px 15px 110px;
	}
	&__text {
		color: #fff;
		margin: 0 0 10px 0;
		font-size: 16px;
		line-height: 18px;
	}
}
.description {
	&__section {
		padding: 95px 40px;
		overflow: hidden;
	}
	&__block {
		margin: 0;
		&-margin {
			margin: 80px 110px;
		}
		&.w85 {
			width: 85%;
		}
	}
	&__price {
		display: inline-block;
		color: #fff;
		font-size: 56px;
		font-weight: bold;
		margin: 12px 30px 0 0;
		line-height: 25px;
		position: relative;
		top: 12px;
	}
	&__btn {
		font-weight: normal;
		padding: 16px 38px 16px 68px;
		position: relative;
		z-index: 2;
		&:after {
			content: '';
			@include position(absolute, 18px null null 37px);
			background: url(../img/b-btn-hover.png) 0 0 no-repeat;
			width: 16px;
			height: 16px;
			@include transition(all 0.2s ease-in-out);
		}
		&:hover {
			&:after {
				left: 30px;
			}
		}
	}
	&__video-bg {
		@include position(absolute, 0 0 0 0);
		width: 100%;
		height: 100%;
		@include transform(scale(1.4));
		z-index: 0;
	}
	&__video-poster {
		display: none;
		@include position(absolute, 0 null null 0);
		width: 100%;
		height: 100%;
	}
}
.preview {
	&__section {
		height: 100%;
		@include display(flex);
		@include align-items(center);
		@include flex-wrap(wrap);
		background-size: cover!important;
		&.flex-end {
			@include align-items(flex-end);	
		}
	}
	&__img {
		margin-bottom: 20px;
	}
	&__block {
		flex-basis: 100%;
		padding: 50px 80px;
	}
	&__title {
		color: #fff;
		text-transform: uppercase;
		font-size: 33px;
		margin: 0 0 10px;
		font-weight: bold;
	}
	&__text {
		font-family: Arial;
		font-size: 16px;
		margin: 0 0 15px;
		line-height: 25px;
		color: #fff;
	}
}
.advantages {
	&__block {}
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		&-item {
			display: block;
			margin-bottom: 30px;
		}
		&-img {
			&-wrap {
				float: left;	
				width: 30px;
			}
		}
		&-title {
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			margin: 0 0 4px 50px;
			font-size: 25px;
		}
		&-text {
			color: #c1c1c1;
			font-size: 15px;
			font-family: Arial;
			margin: 0 0 0 50px;
		}
	}
}