doctype html
include includes/_vars
html(lang="ru")
	include includes/_head
	body
		include includes/_modals
		.main-wrapper#canvas-wrapper
			canvas#demo-canvas
			include includes/_header
			.content
				block content
			include includes/_footer