extends _layout
block append head
	meta(description="")
	meta(keywords="")
	title Каталог товаров
	- contentHeight = 'auto';
block content
	.flex-block
		.flex-block__item
			.catalog__menu
				p.catalog__menu-title меню
				ul.catalog__list
					- for (i=1; i<=6; i++) {
						- if (i == 1) {
							li.catalog__list-item
								.catalog__list-item-link.current 
									span.catalog__list-item-count 2354
									span.catalog__list-item-name Для ремонта ЛКП
						- } else {
							li.catalog__list-item
								a.catalog__list-item-link(href="#!") 
									span.catalog__list-item-count 2354
									span.catalog__list-item-name Спрей Детейлеры и Воски
							li.catalog__list-item
								a.catalog__list-item-link(href="#!") 
									span.catalog__list-item-count 123
									span.catalog__list-item-name Для ремонта ЛКП
						- } 
					- }
		.flex-block__item
			.catalog-section
				- for (k=1; k<=3; k++) {
					- for (i=1; i<=4; i++) {
						.catalog-section__item
							a.catalog-section__item-link(href="#!")
								img.catalog-section__item-img(src="/img/content/item-#{i}.jpg", alt="")
							h2.catalog-section__item-title Gyeon	
							p.catalog-section__item-description Q² MOHS+, 50мл	
							p.catalog-section__item-price 17,985
								span.rubl a
							.catalog-section__item-footer
								a.catalog-section__item-footer-basket.pull-left(href="#!") в корзину
								a.catalog-section__item-footer-link.pull-right(href="#!") подробнее
					- }
				-}
			.text-center
				a.catalog-section__more-btn(href="javascript(0);") загрузить еще