extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Корзина
block content
	form.basket-block__form(action="#")
		.flex-block
			// шаг 1 корзины
			.flex-block__item.col-sm-12.col-md-4.flex-block__basket-bg
				.basket-block
					.basket-block__step 1
					.basket-block__inner
						h3.basket-block__inner-title корзина
						p.basket-block__inner-note Проверьте все ли верно.
						.basket-block__inner-items.basket-block__items-scroll(custom-scroll)
							- for (i=1;i<=4;++i) {
								.basket-block__item(item-parent)
									// картинка товара
									.basket-block__item-img-wrapper
										a(href="#!")
											img.basket-block__item-img(src="img/content/item-1.jpg", alt="")
									// конец картинки
									// инфо блок
									.basket-block__item-description
										a.basket-block__item-delete(href="javascript:void(0);" item-delete)
										a.basket-block__item-description-title(href="#!") everglass topcoat
										.basket-block__item-count
											input.basket-block__item-count-input(type="text" only-numbers value="1" maxlength="2" item-max-val="#{i}" item-val)
											button.basket-block__item-count-changer.up(type="button" data-val="1" item-changer)
											button.basket-block__item-count-changer.down(type="button" data-val="-1" item-changer)
											p.basket-block__item-count-price
												span(replaced-number item-cost="990") 990
												span.rubl a
											p.basket-block__item-count-price-total 
												span(item-total-cost replaced-number) 
												span.rubl a
									// конец инфо блока 
							- }
						.basket-block__total
							p.basket-block__total-text Итого:
							p.basket-block__total-price
								span(item-total replaced-number) 
								span.rubl a
						//- .basket-block__partner
							.row
								.col-sm-6.col-md-12.col-lg-6
									.basket-block__partner-block-price
										label.basket-block__partner-label Партнерская Цена
										p.basket-block__partner-price(replaced-number) 3888
											span.rubl a
								.col-sm-6.col-md-12.col-lg-6
									.basket-block__partner-block-input
										input.basket-block__partner-input.form-control(type="text" placeholder="Код партнера")
							p.basket-block__partner-text Вы можете стать нашим партнером и получить свой уникальный код для приобретения нашей продукции по специальным ценам. <a href="#!">Узнать Больше</a>
			// конец шаг 1 корзины
			// шаг 2 корзины
			.flex-block__item.col-sm-12.col-md-4.flex-block__basket-bg
				.basket-block.object-style-1-bg
					.basket-block__step 2
					.basket-block__inner
						h3.basket-block__inner-title Контакты
						p.basket-block__inner-note Укажите свои контактные данные.
						.basket-block__inner-items
							.form-group
								input.form-control(type="text" placeholder="Имя" required)
							.form-group
								input.form-control(type="text" placeholder="Фамилия" required)
							.form-group
								input.form-control(type="tel" only-numbers placeholder="Телефон" required)
							.form-group
								input.form-control(type="email" placeholder="Email" required)
			// конец шаг 2 корзины
			// шаг 3 корзины
			.flex-block__item.col-sm-12.col-md-4.flex-block__basket-bg
				.basket-block.object-style-2-bg
					.basket-block__step.no-before 3
					.basket-block__inner
						h3.basket-block__inner-title Доставка
						p.basket-block__inner-note Укажите свои контактные данные.
						.basket-block__inner-items
							.form-group
								.form-select-wrapper
									label.form-label Страна
									select.form-control
										option(value="1") Россия
										option(value="2") 1
										option(value="3") 1
							.form-group
								.form-select-wrapper
									label.form-label Способ Доставки
									select.form-control
										option(value="1") Курьер
										option(value="2") 1
										option(value="3") 1
							.form-group
								.form-select-wrapper
									label.form-label Город
									select.form-control
										option(value="1") Тула
										option(value="2") 1
										option(value="3") 1
							.form-group
								label.form-label Улица
								input.form-control.form-input-label(type="text" required)
							.form-group
								.row
									.col-sm-6
										label.form-label Дом
										input.form-control.form-input-label(type="text" required)
									.col-sm-6
										label.form-label Квартира
										input.form-control.form-input-label(type="text")
							button.btn.btn-block(type="submit") оформить
			// конец шаг 3 корзины