extends _layout
block append head
	meta(description="")
	meta(keywords="")
	title Главная страница
block content
	// слайдер 
	.slider
		ul.slider__list
			// слайд
			li.slider__list-item.active.dots-bg
				// видео
				video.slider__list-video(loop autoplay muted poster="/img/sl-bg-1.png")
					source(src="video/video2.mp4" type="video/mp4")
					source(src="video/video2.webm" type="video/webm")
					source(src="video/video2.ogg" type="video/ogg")
				// конец видео
				// описание на 1-м слайде
				.container
					.slider__description.text-center
						.slider__description-title
							h2.title Everglass detailing
							p.slider__description-title-text Лучшее или ничего
						.slider__description-text-block.block-top-left-triangle.bottom-red-line
							p.slider__description-text Защитные покрытия эвергласс могут наноситься на автомобиль с применением технологии сращивания слоёв,то есть говоря простым языком мы обрабатываем автомобиль нескольо раз составом Everglass Platinum Procoat а затем наносим финишный слой Everglass Topcoat. Данная технология обработки автомобиля позволяет увеличить твёрдость заводского ЛКП до 9H по шкале Мосса.
							.text-right
								a.btn(href="#!") О компании
				// конец описания
			// конец слайда
			li.slider__list-item.dots-bg(style="background: #000 url(img/sl-bg-1.png) 0 0 no-repeat;")
				.container
					// блок с превью товара
					.slider__product-preview.bg-style-1.visible-lg
						img.slider__product-preview-img(src="img/content/botel.png", alt="")
						p.slider__product-preview-name Уход за кузовом
						p.slider__product-preview-description Последнее слово в защите лакокрасочного покрытия автомобиля
					// конец блок с превью товара
					// блок со списком товаров
					.slider__product-list-block
						h2.title.text-center Уход за Кузовом
						ul.slider__product-list
							li.slider__product-list-item
								.slider__product-list-img-wrap
									a(href="#!")
										img.slider__product-list-img(src="img/content/product.png", alt="")
								.slider__product-list-description-wrap
									p.slider__product-list-description-name Everglass Precoat
									p.slider__product-list-description-text Продукт для подготовки лакокрасочной поверхности к нанесению керамических защитных покрытий
									a.slider__product-list-description-link(href="#!") Подробнее
							li.slider__product-list-item
								.slider__product-list-img-wrap
									a(href="#!")
										img.slider__product-list-img(src="img/content/product.png", alt="")
								.slider__product-list-description-wrap
									p.slider__product-list-description-name Everglass Platinum
									p.slider__product-list-description-text Защитное покрытие последнего поколения, для максимальной защиты лакокрасочного покрытия
									a.slider__product-list-description-link(href="#!") Подробнее
							li.slider__product-list-item
								.slider__product-list-img-wrap
									a(href="#!")
										img.slider__product-list-img(src="img/content/product.png", alt="")
								.slider__product-list-description-wrap
									p.slider__product-list-description-name Everglass Refresh
									p.slider__product-list-description-text Продукт созданный для поддержки работы защитного покрытия на кузове автомобиля.
									a.slider__product-list-description-link(href="#!") Подробнее
							li.slider__product-list-item
								.slider__product-list-img-wrap
									a(href="#!")
										img.slider__product-list-img(src="img/content/product.png", alt="")
								.slider__product-list-description-wrap
									p.slider__product-list-description-name Everglass TOPcoat
									p.slider__product-list-description-text Защита автомобиля от негативного воздействия окружающей среды на протяжении одного года.
									a.slider__product-list-description-link(href="#!") Подробнее
					// конец блок со списком товаров
			li.slider__list-item.dots-bg(style="background: #000 url(img/sl-bg-2.png) 0 0 no-repeat;")
				.container
					.slider__product-preview.bg-style-2.visible-lg
						img.slider__product-preview-img(src="img/content/botel-2.png", alt="")
						p.slider__product-preview-name Уход за салоном
						p Надежная защита всех типов материалов интерьера автомобиля
						p.slider__product-preview-description Последнее слово в защите лакокрасочного покрытия автомобиля
					.slider__product-list-block
						h2.title.text-center Уход за Салоном
						ul.slider__product-list
							li.slider__product-list-item
								.slider__product-list-img-wrap
									a(href="#!")
										img.slider__product-list-img(src="img/content/product.png", alt="")
								.slider__product-list-description-wrap
									p.slider__product-list-description-name Everglass Fabric
									p.slider__product-list-description-text Защитное покрытие для изделий из ткани, замши, велюра, алькантары.
									a.slider__product-list-description-link(href="#!") Подробнее
							li.slider__product-list-item
								.slider__product-list-img-wrap
									a(href="#!")
										img.slider__product-list-img(src="img/content/product.png", alt="")
								.slider__product-list-description-wrap
									p.slider__product-list-description-name Everglass Leather Coat
									p.slider__product-list-description-text Защитное покрытие для кожаных салонов элитных автомобилей.
									a.slider__product-list-description-link(href="#!") Подробнее