extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Текстовая страница
	- contentHeight = 'auto';
block content
	.flex-block.flex-block-wrap
		.flex-block__item.col-sm-12.height-auto 
			// блок с текстом
			.text-block
				//- img.text-block__img(src="img/everglass.png", alt="")
				h2.title.text-block__title topcoat
				.text-block__description.block-top-left-triangle.bottom-red-line-bottom
					p Керамическое защитное покрытие для кузова Everglass Topcoat - это защита Вашего автомобиля от негативного воздействия окружающей среды на протяжении одного года. Everglass Topcoat - супергидрофобное покрытие обеспечивающее великолепный эффект самоочистки кузова автомобиля, автомобиль обработанный Everglass Topcoat намного меньше пачкается. 
					p Everglass Topcoat это полноценное керамическое защитное покрытие премиум класса, не являющееся жидким стеклом.
					ul
						li 001
						li 002
						li 003
						li 004
						li 005
						li 006
					table
						tr
							td 001
							td 002
							td 003
						tr
							td 001
							td 002
							td 003
						tr
							td 001
							td 002
							td 003
						tr
							td 001
							td 002
							td 003
						tr
							td 001
							td 002
							td 003
					ol
						li 001
						li 002
						li 003
						li 004
						li 005
						li 006
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor distinctio iure hic sapiente, similique, facere modi quos laboriosam ratione quasi, a dolorum expedita adipisci accusamus quae nisi in consequatur rem.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor distinctio iure hic sapiente, similique, facere modi quos laboriosam ratione quasi, a dolorum expedita adipisci accusamus quae nisi in consequatur rem.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor distinctio iure hic sapiente, similique, facere modi quos laboriosam ratione quasi, a dolorum expedita adipisci accusamus quae nisi in consequatur rem.
			// конец блок с текстом