.text-center {text-align: center;}
.text-right {text-align: right;}


.m-0 {
	margin: 0 !important;
}
.m-b-20 {
	margin-bottom: 20px!important;
}
.m-t-20 {
	margin-top: 20px;
}
.m-30 {
	margin: 30px 0;
}


// Elements

.btn {
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	background: $red;
	text-align: center;
	position: relative;
	font-weight: bold;
	padding: 16px 53px;
	border: none;
	position: relative;
	z-index: 5;
	@include transition(all 0.4s ease-in-out);
	&:active,
	&:focus,
	&:hover {
		color: #fff;
		text-decoration: none;
		background: darken($red, 5%);
	}
	&:before {
		content: '';
		margin: 0 auto;
		width: 53%;
		height: 30px;
		box-shadow: 0 0 54px $red;
		border-radius: 50%;
		@include position(absolute, null 0 0 0);
		z-index: -1;
	}
	&-block {
		display: block;
		width: 100%;
	}
}

.title {
	font-size: 66px;
	margin: 0;
	color: #fff;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
}
.subtitle {
	font-size: 26px;
	margin: 20px 0;
	color: #fff;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
}

// custom triangle 
.block-top-left-triangle {
	position: relative;
	&:before {
		content: '';
		@include position(absolute, -38px null null -38px);
		width: 40px;
		height: 40px;
		background: url(../img/top-left-triangle.png) 0 0 no-repeat;
	}
}
.block-bottom-right-triangle {
	position: relative;
	&:before {
		content: '';
		@include position(absolute,  null -32px -21px  null);
		width: 30px;
		height: 30px;
		background: url(../img/bottom-right.png) 0 0 no-repeat;
	}
}


// red line
.bottom-red-line {
	position: relative;
	&:after {
		content: '';
		background: $red;
		width: 105px;
		height: 2px;
		@include position(absolute, null null 52px 0);
	}
	&-bottom {
		@extend .bottom-red-line;
		&:after {
			bottom: -30px;
		}
	}
}

// dots bg
.dots-bg {
	&:before {
		content: '';
		@include position(absolute, 0 0 0 0);
		width: 100%;
		height: 100%;
		background: url(../img/map_bg.png);
		z-index: 0;
	}
}

// flex layounts 
.flex {
	&-block {
		height: 100%;
	    background: #181819;
		overflow: hidden;
		width: 100%;
		@include display(flex);
		@include align-items(stretch);
		&.no-bg {
			background: none;
		}
		&.gray-bg {
			background: #fcfcfc;
			min-height: calc(100vh - 120px);
		}
		&__item {
			height: 100%;
			position: relative;
			&-flex-center {
				@include display(flex);
				@include align-items(center);
			}
			&-flex-end {
				@include display(flex);
				@include align-items(flex-end);
			}
		}
		& > [class*="col-"] {
			padding: 0!important;
		}
		&-wrap {
			@include flex-wrap(wrap);
		}
		&__basket-bg {
			background: url(../img/cart-bg.png) 0 0 no-repeat;
			background-size: cover;
			min-height: calc(100vh - 120px);
		}
	}
}

// form
.form {
	&-group {
		margin-bottom: 20px;
		position: relative;
		z-index: 5;
		&-padding {
			padding: 0 15px;
			.form-label {
				margin-left: 1.7em;
			}
		}
	}
	&-control {
		width: 100%;
		border: none;
		resize: none;
		background: #2d2d2e;
		color: #fff;
		padding: 15px;
		border-radius: 2px;
		@include transition(all 0.4s ease-in-out);
		&.inline-control {
			background: #f4f4f4;
			color: #2d2d2e;
		}
		&:focus {
			box-shadow: 0 0 10px $red;
		}
	}
	&-select-wrapper {
		@extend .form-control;
		position: relative;
		height: 50px;
		padding: 5px 15px 15px 15px;
		.ui-selectmenu-button {
			margin-top: 12px;
			width: 100%!important;
		}
		.ui-icon.ui-icon-triangle-1-s {
			width: 11px;
			height: 7px;
			display: block;
			background: url(../img/tr.png) 0 0 no-repeat;
		}
		.ui-selectmenu-button span.ui-icon {
			top: 36%;
		}
		.ui-selectmenu-button span.ui-selectmenu-text {
			padding: 0.4em 2.1em 0.4em 0.5em;
		}

		&.light-wrapper {
		    background: #f4f4f4;
			.ui-selectmenu-button span.ui-selectmenu-text {
				padding-top: 0;
				padding-left: 0;
				color: #2d2d2e;
			}
			.ui-icon.ui-icon-triangle-1-s {
				@include filter(brightness(0));
				top: 56%;
			}
		}
	}
	&-label {
		color: #989898;
		margin-left: 0.5em;
		font-size: 12px;
		z-index: 12;
		display: block;
		@include position(absolute, 5px null null 14px);
	}
	&-input-label {
		padding: 22px 15px 8px 20px;
	}
	&-radio {
		&-label {
			vertical-align: top;
			cursor: pointer;
			text-align: center;
			flex-basis: 100%;
			width: 100%;
			color: #fff;
			position: relative;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			@include transition(all 0.2s ease);
			&:not(:last-child) {
				&:before {
					content: '';
					@include position(absolute, 10px 0 null null);
					width: 1px;
					height: 30px;
					background: #4b4b4c;
				}
			}
		}
		&-input {
			display: none;
			&:checked + label {
				background: $red;
				&:before {
					display: none;
				}
			}
		}
		&-group {
			@include display(flex);
			@include align-items(stretch);
			border-radius: 2px;
			background: #2d2d2e;
			overflow: hidden;
			height: 50px;
			&.light-type {
				background: #f4f4f4;
				.form-radio-input {
					&:not(:checked) + label {
						color: #2d2d2e;	
					}
				}
			}
		}
	}
	&-note {
		color: #a8adaf;
		font-family: Arial;
		margin: 0;
	}
	&-inline {
		&-label {
			color: #989898;
			font-size: 13px;
			display: block;
			margin: 18px 0 10px 0;
		}
	}
}
.height-auto {
	height: auto!important;
}

// video block shadow
.right-shadow {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 24%;
		right: 0px;
		box-shadow: 0px 0px 154px #fc0000;
		width: 90px;
		height: 50%;
		border-radius: 50%;
	}
}
.left-shadow {
	@extend .right-shadow ;
	&:before {
		right: auto;
		left: 0;
	}
}

a:not([class]) {
	color: $red;
	&:hover {
		color: $red;
	}
}
a, input, textarea, p, strong, table td, table th, img, button, h1, h2, h3, h4, h5 {
	position: relative;
	z-index: 5;
}