.footer {
	text-align: right;
	padding: 20px;
	&__copyright {
		color: #fff;
		opacity: 0.4;
		display: inline-block;
		vertical-align: top;
		margin: 9px 0 0 30px;
	}
    &__development {
    	width: 88px;
    	height: 35px;
    	vertical-align: top;
    	background: url(../img/dev-logo-pas.jpg) 0 0 no-repeat;
    	position: relative;
    	@include transition(all 0.4s ease-in-out);
    	overflow: hidden;
    	z-index: 200;
    	display: inline-block;
    	&:before {
    		content: '';
		    position: absolute;
		    background: url(../img/dev-logo-active.png) 0 0 no-repeat;
		    width: 88px;
		    height: 35px;
		    top: 0;
		    left: -110px;
		    @include transition(all 0.4s ease-in-out);
    	}
    	&:after {
    		content: '';
    		position: absolute;
    		background: url(../img/dev-logo-up.png) 0 0 no-repeat;
    		width: 26px;
    		height: 0;
    		top: 0;
    		left: 19px;
    		@include transition(all 0.4s ease-in-out);
    	}
    	&:hover {
    		&:after {height: 35px;}
    		&:before {left: 0}
    	}
    }
}