// ================================================== MAX 767
@media (max-width: 767px) {
	.title {
		font-size: 36px;
	}
	.slider {
		&__description {
			&-title {
				background: none;
				padding-top: 0;
				&-text {
					font-size: 14px
				}
			}
		}
	}
	.flex {
		&-block {
			@include flex-wrap(wrap);
		}
	}
	#map {
		position: relative;
		height: 200px;
	}
	.contacts {
		width: 100%;
		&__address,
		&__form {
			margin: 60px auto 0px auto;
			width: 290px;
			display: block;
		}
	}
	.gallery {
		&__thumbs {
			&-wrapper {
				flex-basis: 16%;
			}
		}
	}
}

// ================================================== MAX 500
@media (max-width: 500px) {
	.contacts {
		&__address,
		&__form {
			width: 255px;
		}
		&__title {
			font-size: 27px;
		}
	}
	.gallery {
		&__block {
			width: 50%;
		}
		&__thumbs {
			&-wrapper {
				flex-basis: 27%;
			}
		}
	}
}

// ================================================== 500 - 767
@media (min-width: 500px) and (max-width: 767px) {
	.title {
		font-size: 42px;

	}
	.slider {
		&__description {
			&-title {
				padding-top: 12px;
				background-size: 470px auto;
				&-text {
					font-size: 15px;
					top: -14px;
					left: -9px;
				}
			}
		}
		&__product {
			&-list {
				&-item {
					width: 350px;
				    margin: 0 auto 50px auto;
					display: block;
				}
			}
		}
	}
	.gallery {
		&__block {
			width: 33%;
		}
	}
}


// ================================================== 768-991
@media (min-width: 768px) and (max-width: 991px) {
	.title {
		font-size: 55px;
	}
	.slider {
		&__description {
			&-title {
				background-size: 100% 82%;
			}
		}
		&__product {
			&-list {
				&-item {
					width: 54%;
					margin: 0 -3% 50px;
					padding: 0 3%;
					background: url(../img/product-bg.png) 60% 50% no-repeat;
				}
				&-description {
					&-link {
						left: 127px;
					}
				}
			}
		}
		&__list {
			&-video {
				&-player {
					width: 140vw;
				}
			}
		}
	}
	.flex {
		&-block {
			@include flex-wrap(wrap);
			[class*="col-"] {
				@include justify-content(space-around);	
			}
		}
	}
	.contacts {
		&__address,
		&__form {
			margin: 40px 40px 0 40px;
		}
		&__form {
			width: 290px;
		}
	}
	#map {
		position: relative;
		height: 400px;
	}
	.gallery {
		&__block {
			width: 25%;
		}
	}
}


// ================================================== 991-1199
@media (min-width: 992px) and (max-width: 1199px) {
	.slider {
		&__product {
			&-list {
				&-item {
					width: 37%;
					margin: 0 3% 50px;
				}
			}
		}
	}
	.contacts {
		&__address,
		&__form {
			margin-top: 40px;
			margin-left: 67px;
		}
	}
	.gallery {
		&__block {
			width: 25%;
		}
		&__main-img {
			max-width: 80%;
		}
	}
}


// ================================================== 1200 - 1600
@media (min-width: 1200px) and (max-width: 1600px) {
	.title {
		font-size: 56px;
	}
	// для главного слайдера
	.slider {
		&__product {
			&-preview {
				background: none!important;
				bottom: 0;
				padding-bottom: 0;
				width: auto;
			}
			&-list {
				margin: 14px 0 0 0;
				&-block {
					margin: 0 auto;
				}
			}
		}
		&__list {
			&-video {
				@include transform(scale(1.33));
			}
		}
	}
	// контакты
	.contacts {
		margin-bottom: 0;
		&__form,
		&__address {
			margin-left: 77px;
		}
		&__form {
			width: 290px;
		}
	}
	.col-slg-12 {width: 100%}
	.col-slg-11{width:91.66666667%}
	.col-slg-10{width:83.33333333%}
	.col-slg-9{width:75%}
	.col-slg-8{width:66.66666667%}
	.col-slg-7{width:58.33333333%}
	.col-slg-6{width:50%}
	.col-slg-5{width:41.66666667%}
	.col-slg-4{width:33.33333333%}
	.col-slg-3{width:25%}
	.col-slg-2{width:16.66666667%}
	.col-slg-1{width:8.33333333%}
}

// ================================================== 1300 - 1480
@media (min-width: 1300px) and (max-width: 1480px) {
	.main-menu {
		&__wrapper {
			margin: 6px 0 0 25px;
		}
		&__list {
			&-item {
				margin-right: 13px;
			}
		}
	}
}


// ================================================== MIN 1200
@media (min-width: 1200px) {
	.container {
		width: auto;
		min-width: 1170px;
	}
}


// ================================================== MAX 1199
@media (max-width: 1199px) {
	.slider {
		&__list {
			@include flex-wrap(wrap);
			&-item {
				width: 100%!important;
				cursor: default!important;
				padding: 40px 0;
			}
			&-video {
				width: auto;
				height: auto;
			}
		}
		&__product {
			&-list {
				&-block {
					opacity: 1;
					width: auto;
					margin:  0 auto;
				}
			}
		}
		&__description {
			width: 100%;
			margin: 0 auto!important;
			&-text-block {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
	.flex-wrap-to-md {
		@include flex-wrap(wrap);
	}
}


// ================================================== MAX 500
@media (max-width: 500px) {
	.header {
		height: auto;
		padding: 26px 15px;
		&__logo {
			display: inline-block;
			margin: 0 auto 20px auto;
		}
		&__info {
			float: none;
			&-languages {
				float: right;
			}
		}
	}
	.main-menu {
		text-align: center;
		float: right;
		margin-right: 12px;
		&__list-item-link {
			display: block;
		}
	}
	.priority-nav__dropdown.show {
		width: 100vw;
		top: 36px;
		right: -23px;
		left: auto;
		padding: 20px 20px 0 30px;
		&:before {
			right: 25px;
		}
	}
	.title {
		font-size: 28px;
	}
	.slider {
		&__description {
			&-text {
				&-block {
					width: 85%;
				}
			}
		}
		&__product {
			&-list {
				&-item {
					width: 300px;
					background: none;
					padding-bottom: 50px;
					&:not(:last-child) {
						border-bottom: 1px solid rgba(255,255,255,0.5);
					}
				}
				&-description {
					&-link {
						bottom: 50px;
					}
				}
			}
		}
	}
	.bottom-red-line {
		&:after {
			display: none;
		}
	}
	.block-top-left-triangle {
		&:before {
			top: -28px;
			left: -28px;
		}
	}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.slider {
		&__list {
			&-video {
				&-player {
					display: none;
				}
				&-img {
					display: block;
				}
			}
		}
	}
}