header.header
	.container-fluid
		// логотип
		a.header__logo(href="/")
			img(src="img/logo.png" alt="Site Logo")
		// конец логотипа
		// главное меню
		.main-menu
			nav.main-menu__wrapper.priority-nav
				ul.main-menu__list.responsive-menu
					each item, indx in menu
						li.main-menu__list-item
							a.main-menu__list-item-link(href="#!") #{item}
		// конец меню
		// блок с инофрмацией
		.header__info
			// корзина в шапке
			.header__info-basket
				a.header__info-basket-link(href="#!")
					span.header__info-basket-count 3
			// конец корзины в шапке
			// блок с выбором языка
			.header__info-languages
				.header__info-languages-current(href="javascript:void(0);")
					img.header__info-languages-img(src="img/rus.png", alt="")
					span.header__info-languages-name RU
				ul.header__info-languages-list
					li.header__info-languages-item.active
						img.header__info-languages-img(src="img/rus.png", alt="")
						span.header__info-languages-name RU
					li.header__info-languages-item
						img.header__info-languages-img(src="img/ukr.png", alt="")
						span.header__info-languages-name UA
					li.header__info-languages-item
						img.header__info-languages-img(src="img/eng.png", alt="")
						span.header__info-languages-name EN
			// конец блок с выбором языка
		// конец блока с информацией