extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Страница товара LEATCHERCOAT
	- contentHeight = 'auto';
block content
	.flex-block.flex-block-wrap
		.flex-block__item.col-lg-8.col-sm-12.col-md-8.height-auto
			.description__section
				// видео фон блока
				video.description__video-bg(mob-video-hide loop autoplay muted poster="img/video-frame.jpg")
					source(src="video/video2.mp4" type="video/mp4")
					source(src="video/video2.webm" type="video/webm")
					source(src="video/video2.ogv" type="video/ogv")
				// конец видео фон блока
				// картинка фон блока для мобильных
				img.description__video-poster(mob-videoposter-show src="img/content/p3-bg.jpg", alt="")
				// конец 
				.dots-bg
				.row
					.col-sm-4.text-center
						img(src="img/content/botel-2.png", alt="")
					.col-sm-8
						.description__block.w85.bottom-red-line
							img.text-block__img(src="img/everglass.png", alt="")
							h2.title.text-block__title fabric
							.text-block__description.block-top-left-triangle
								p Керамическое защитное покрытие для кузова Everglass Topcoat - это защита Вашего автомобиля от негативного воздействия окружающей среды на протяжении одного года. Everglass Topcoat - супергидрофобное покрытие обеспечивающее великолепный эффект самоочистки кузова автомобиля, автомобиль обработанный Everglass Topcoat намного меньше пачкается. 
								p Everglass Topcoat это полноценное керамическое защитное покрытие премиум класса, не являющееся жидким стеклом.
							.text-right
								p.description__price 22 990
									span.rubl a
								a.btn.description__btn(href="#!") в корзину
		.flex-block__item.col-lg-4.col-sm-12.col-md-4.height-auto
			// если в секции 2-а блока то ставим класс flex-end, иначе убираем
			.preview__section.flex-end(style="background: url(../img/content/p-bg.jpg) 0 0 no-repeat;")
				.preview__block
					img.preview__img(src="img/protect.png", alt="")
					p.preview__title защита
					p.preview__text Обработка салона автомобиля защитным покрытием Everglass гарантировано сохранит напольное покрытие в первозданном виде длительный период времени.
				.attention__block
					p.attention__text Everglass Fabric - это продукт для профессионального применения, не используйте состав самостоятельно в домашних условиях!
			// конец блока с описанием
	.flex-block.flex-block-wrap
		.flex-block__item.col-sm-12.col-md-6.height-auto
			.preview__section.flex-end(style="background: url(../img/content/leather-bg.jpg) 0 0 no-repeat;")
				.description__block-margin.bottom-red-line-bottom
					h2.title.text-block__title-md Защитная пленка
					.text-block__description.block-top-left-triangle
						p Everglass Leather coat после полимеризации создаёт на кожаных сиденьях тончайшую защитную плёнку – гарантия сохранности интерьера Вашего автомобиля на 9 месяцев. Гидрофобные свойства, которыми будет обладать кожаный салон автомобиля после обработки защитным покрытием Everglass Leather coat препятствует проникновению любого рода жидкостей в структуру изделия, даже перфорированная кожа после обработки способна держать на своей поверхности капли пролитой жидкости. 
						p Кожаный салон автомобиля бизнес-класса это место уединения владельца, важно сохранить этот симбиоз инженерной мысли и передовых технологий дизайна в изумительном состоянии, именно поэтому мы настоятельно рекомендуем обработать светлый кожаный салон защитным покрытием на основе нанокерамики.
				.attention__block
					p.attention__text Everglass Fabric - это продукт для профессионального применения, не используйте состав самостоятельно в домашних условиях!
					p.attention__text Everglass Fabric - это продукт для профессионального применения, не используйте состав самостоятельно в домашних условиях!
		.flex-block__item.col-sm-12.col-md-6.height-auto
			.preview__section(style="background: url(../img/content/leather-advant.jpg) 0 0 no-repeat;")
				.description__block-margin.bottom-red-line-bottom
					h2.title.text-block__title-md преимущества
					.text-block__description.block-top-left-triangle
						.advantages__block
							ul.advantages__list
								li.advantages__list-item
									.advantages__list-img-wrap
										img.advantages__list-img(src="img/a4.png", alt="")
									p.advantages__list-title Гидрофобный эффект
									p.advantages__list-text Способствует лучшей самоочистке автомобиля во время дождя.
								li.advantages__list-item
									.advantages__list-img-wrap
										img.advantages__list-img(src="img/a5.png", alt="")
									p.advantages__list-title Краска
									p.advantages__list-text Защита от окрашивания кожаного салона одеждой (джинсы, куртки). Не изменяет естественный цвет и оттенок кожи.
								li.advantages__list-item
									.advantages__list-img-wrap
										img.advantages__list-img(src="img/a2.png", alt="")
									p.advantages__list-title Очистка
									p.advantages__list-text Лёгкая очистка кожаного салона без применения агрессивной химии.
								li.advantages__list-item
									.advantages__list-img-wrap
										img.advantages__list-img(src="img/a3.png", alt="")
									p.advantages__list-title Олеофобные свойства
									p.advantages__list-text Уустойчивость обработанной поверхности к проникновению масел и жиров.
								li.advantages__list-item
									.advantages__list-img-wrap
										img.advantages__list-img(src="img/a6.png", alt="")
									p.advantages__list-title Ультрафиолет
									p.advantages__list-text Устойчивость обработанной поверхности к УФ-излучению.
								li.advantages__list-item
									.advantages__list-img-wrap
										img.advantages__list-img(src="img/a7.png", alt="")
									p.advantages__list-title 1 год
									p.advantages__list-text Срок службы до 12 месяцев
	// превьюшки фото
	.thumb__section
		- for (i=1; i<=8; i++) {
			- if (i==1) {
				.thumb__block
					a.thumb__link.video(href="https://www.youtube.com/embed/i2vR5yB4vQA" class="fancybox.iframe" fancybox rel="thumbs")
						img.thumb__img(src="img/content/thumb-prod.jpg", alt="")
			- } else {
				.thumb__block
					a.thumb__link(href="img/content/thumb-prod.jpg" fancybox rel="thumbs")
						img.thumb__img(src="img/content/thumb-prod.jpg", alt="")
			- }
		- }
	// конец превьюшки фото