- if (footer == false) {
	footer.footer.hidden-lg
		block footer
			.container-fluid
				// .footer__partner-block
					p.footer__partner-text Вы вошли как партнер
					a.footer__partner-exit-link(href="#!") Выйти
				a.footer__partner-link(href="#enter" fancybox) Партнерский вход
				a.footer__development(href="http://www.studio-maximus.com/")
				p.footer__copyright &copy; Copyright 2016
- } else {
	footer.footer
		block footer
- }
include _script