html {
	height: 100%;
}
body {
    font-family: $main_font;
    font-weight: normal;
    height: 100%;
    color: $main_color;
    background: #1c1c1d;
}

label {
	font-weight: normal;
}
img {
	max-width: 100%;
}
a img {
	border: none;
}
button, input, textarea, select {
	outline: none;
}
.main-wrapper {
    overflow: hidden;
}
.rubl {
    display: inline-block;
    margin-left: 5px;
    font-family: 'Rubl';
}