.text-center {text-align: center;}
.text-right {text-align: right;}

.m-t-20 {
	margin-top: 20px;
}


// Elements

.btn {
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	background: $red;
	text-align: center;
	position: relative;
	font-weight: bold;
	padding: 16px 53px;
	border: none;
	position: relative;
	@include transition(all 0.4s ease-in-out);
	&:active,
	&:focus,
	&:hover {
		color: #fff;
		text-decoration: none;
		background: darken($red, 5%);
	}
	&:before {
		content: '';
		margin: 0 auto;
		width: 53%;
		height: 30px;
		box-shadow: 0 0 54px $red;
		border-radius: 50%;
		@include position(absolute, null 0 0 0);
		z-index: -1;
	}
	&-block {
		display: block;
		width: 100%;
	}
}

.title {
	font-size: 66px;
	margin: 0;
	color: #fff;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
}

// custom triangle 
.block-top-left-triangle {
	position: relative;
	&:before {
		content: '';
		@include position(absolute, -38px null null -38px);
		width: 40px;
		height: 40px;
		background: url(../img/top-left-triangle.png) 0 0 no-repeat;
	}
}
.block-bottom-right-triangle {
	position: relative;
	&:before {
		content: '';
		@include position(absolute,  null -32px -21px  null);
		width: 30px;
		height: 30px;
		background: url(../img/bottom-right.png) 0 0 no-repeat;
	}
}


// red line
.bottom-red-line {
	position: relative;
	&:after {
		content: '';
		background: $red;
		width: 105px;
		height: 2px;
		@include position(absolute, null null 52px 0);
	}
	&-bottom {
		@extend .bottom-red-line;
		&:after {
			bottom: -30px;
		}
	}
}

// dots bg
.dots-bg {
	&:before {
		content: '';
		@include position(absolute, 0 0 0 0);
		width: 100%;
		height: 100%;
		background: url(../img/map_bg.png);
		z-index: 0;
	}
}

// flex layounts 
.flex {
	&-block {
		height: 100%;
	    background: #181819;
		overflow: hidden;
		@include display(flex);
		@include align-items(stretch);
		&.no-bg {
			background: none;
		}
		&__item {
			height: 100%;
			position: relative;
			&-flex-center {
				@include display(flex);
				@include align-items(center);
			}
			&-flex-end {
				@include display(flex);
				@include align-items(flex-end);
			}
		}
		& > [class*="col-"] {
			padding: 0!important;
		}
		&-wrap {
			@include flex-wrap(wrap);
		}
		&__basket-bg {
			background: url(../img/cart-bg.png) 0 0 no-repeat;
			background-size: cover;
		}
	}
}

// form
.form {
	&-group {
		margin-bottom: 20px;
		position: relative;
		&-padding {
			padding: 0 15px;
			.form-label {
				margin-left: 1.7em;
			}
		}
	}
	&-control {
		width: 100%;
		border: none;
		resize: none;
		background: #2d2d2e;
		color: #fff;
		padding: 15px;
		border-radius: 2px;
		@include transition(all 0.4s ease-in-out);
		&:focus {
			box-shadow: 0 0 10px $red;
		}
	}
	&-select-wrapper {
		@extend .form-control;
		position: relative;
		height: 50px;
		padding: 5px 15px 15px 15px;
		.ui-selectmenu-button {
			margin-top: 12px;
		}
		.ui-icon.ui-icon-triangle-1-s {
			width: 11px;
			height: 7px;
			display: block;
			background: url(../img/tr.png) 0 0 no-repeat;
		}
		.ui-selectmenu-button span.ui-icon {
			top: 36%;
		}
		.ui-selectmenu-button span.ui-selectmenu-text {
			padding: 0.4em 2.1em 0.4em 0.5em;
		}
	}
	&-label {
		color: #989898;
		margin-left: 0.5em;
		font-size: 12px;
		display: block;
		@include position(absolute, 5px null null 14px);
	}
	&-input-label {
		padding: 22px 15px 8px 20px;
	}

}
.height-auto {
	height: auto!important;
}

// video block shadow
.right-shadow {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 24%;
		right: 0px;
		box-shadow: 0px 0px 154px #fc0000;
		width: 90px;
		height: 50%;
		border-radius: 50%;
	}
}
.left-shadow {
	@extend .right-shadow ;
	&:before {
		right: auto;
		left: 0;
	}
}